<%= search_form_for @q, url: search_results_path, html: { method: :post }, class: "form-group" do |f| %>

  <div class="form-group">
    <%= f.label :member_id, "Member ID" %>
    <%= f.search_field :member_id_cont, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :fullname, "Fullname" %>
    <%= f.search_field :fullname_cont, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "Email" %>
    <%= f.search_field :email_cont, class: "form-control" %>
  </div>


  <div class="form-group">
    <%= f.label "Wallet balance" %>
    <div class="input-group">
      <%= f.search_field :wallet_balance_gteq, class: "form-control", placeholder: "From" %>
      <span class="input-group-addon">-</span>
      <%= f.search_field :wallet_balance_lteq, class: "form-control", placeholder: "To" %>
    </div>
  </div>

  <% if current_member.the_admin? %>
    <div class="form-group">
      <%= f.label "Region" %>
      <%= f.select :region_id_eq, Region.order("name").all.collect{|r| [r.name, r.id]}, {include_blank: true}, class: "form-control" %>
    </div>
  <% end %>

  <%= f.submit "Search", class: "btn btn-default" %>
  <%= link_to "Clear", search_path, class: "btn btn-default" %>
<% end %>