<h2>WALLET</h2>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Info</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2">Owner</div>
      <div class="col-md-10"><%= link_to @member.fullname, @member %></div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-2">Wallet Balance</div>
      <div class="col-md-10"><strong><%= number_with_delimiter @member.wallet_balance, delimiter: "," %></strong></div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-success" onClick="location.href='<%= new_wallet_transaction_path(@member, type: 'deposit') %>'; return false;">Deposit</button>
        <% unless @member.wallet_balance.zero? %>
          <button class="btn btn-danger" onClick="location.href='<%= new_wallet_transaction_path(@member, type: 'withdraw') %>'; return false;">Withdraw</button>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render partial: "history" %>