<table class="table table-striped">
  <tbody>
    <tr>
      <td class="col-sm-3">Total Members</td>
      <td><%= Member.count %></td>
    </tr>
    <tr>
      <td>Total Transactions</td>
      <td><%= Transaction.count %></td>
    </tr>
    <tr>
      <td>Total Gross</td>
      <td><%= number_with_delimiter Transaction.sum(:total), delimiter: ","  %></td>
    </tr>
    <tr>
      <td>Total Wallet Balance</td>
      <td>
        <%= number_with_delimiter @total_wallet_balance, delimiter: ","  %>
      </td>
    </tr>
    <tr>
      <td>Total Network Commisions</td>
      <td>
        <%= number_with_delimiter @total_commisions, delimiter: ","  %>
      </td>
    </tr>
  </tbody>
</table>