<table class="table table-striped">
  <tbody>
    <tr>
      <td class="col-sm-2">Seller</td>
      <td><%= link_to @transaction.member.fullname, @transaction.member %></td>
    </tr>
    <tr>
      <td>Product name</td>
      <td><%= @transaction.product_name %></td>
    </tr>
    <tr>
      <td>Price</td>
      <td><%= number_with_delimiter @transaction.price, delimiter: ","  %></td>
    </tr>
    <tr>
      <td>Quantity</td>
      <td><%= @transaction.quantity %></td>
    </tr>
    <tr>
      <td>Total</td>
      <td><%= number_with_delimiter @transaction.total, delimiter: ","  %></td>
    </tr>
    <tr>
      <td>Payment type</td>
      <td><%= @transaction.payment_type.titleize %></td>
    </tr>
    <tr>
      <td>Referral</td>
      <td><%= @transaction.referral ? "Yes" : "No" %></td>
    </tr>
    <% if @transaction.referral %>
      <tr>
        <td>Referral commision</td>
        <td><%= number_with_delimiter(@transaction.referral_commision, delimiter: ",") %></tnd>
      </tr>
    <% end %>
    <tr>
      <td>Note</td>
      <td><%= @transaction.note %></td>
    </tr>
  </tbody>
</table>

  <%
    if params[:from].present?
      back_path = params[:from]
    else
      back_path = transactions_path
    end
  %>
<button class="btn btn-default" onClick="location.href='<%= back_path %>'; return false;">Back</button>
