<p id="notice"><%= notice %></p>

<p>
  <strong>Seller:</strong>
  <%= link_to @transaction.member.fullname, @transaction.member %>
</p>

<p>
  <strong>Product name:</strong>
  <%= @transaction.product_name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @transaction.price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @transaction.quantity %>
</p>

<p>
  <strong>Note:</strong>
  <%= @transaction.note %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
