<!DOCTYPE html>
<html>
  <head>
    <title>Cempaka Cookies Financial Management System</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="bs-docs-nav navbar navbar-static-top" id="top">
      <div class="container">
        <div class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <%= link_to "Cempaka Cookies Financial Management System", "/", class: "navbar-brand" %>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <% if member_signed_in? %>
                <ul class="nav navbar-nav">
                  <li class="<%= params[:controller] == "home" && params[:action] == "index" ? "active" : "" %>">
                    <%= link_to "Dashboard", "/" %>
                  </li>
                  <% if current_member.the_admin? %>
                    <li class="<%= params[:controller] == "members" ? "active" : "" %>">
                      <%= link_to "Members", members_path %>
                    </li>
                    <li class="<%= params[:controller] == "transactions" ? "active" : "" %>">
                      <%= link_to "Transactions", transactions_path %>
                    </li>
                    <li class="<%= params[:controller] == "search" ? "active" : "" %>">
                      <%= link_to "Search", search_path %>
                    </li>
                  <% else %>
                    <% if current_member.the_region_admin? %>
                      <li class="<%= params[:controller] == "members" ? "active" : "" %>">
                        <%= link_to "Region Members", members_path %>
                      </li>
                      <li class="<%= params[:controller] == "search" ? "active" : "" %>">
                        <%= link_to "Search", search_path %>
                      </li>
                    <% else %>
                      <li class="<%= params[:controller] == "members" && params[:action] == "network_commisions" ? "active" : "" %>">
                        <%= link_to "Network Commisions", network_commisions_member_path(current_member) %>
                      </li>
                      <li class="<%= params[:controller] == "members" && params[:action] == "wallet_history" ? "active" : "" %>">
                        <%= link_to "Wallet", wallet_history_member_path %>
                      </li>
                    <% end %>
                  <% end %>
                </ul>
              <% end %>

              <ul class="nav navbar-nav navbar-right">
                <% if member_signed_in? %>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_member.email %> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <% if false %>
                        <li><%= link_to "Network Commision Payments", network_commision_payments_path %></li>
                      <% end %>
                      <li><%= link_to "Change password", change_password_member_path %></li>
                      <li><%= link_to "Log Out", logout_path, method: "delete" %></li>
                    </ul>
                  </li>
                <% end %>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </div>
      </div>
    </header>

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>