<%
  show_network_bonus = local_assigns.has_key?(:show_network_bonus) ? show_network_bonus : false
  show_wallet_balance = local_assigns.has_key?(:show_wallet_balance) ? show_wallet_balance : false
%>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Member ID</th>
        <th>Fullname</th>
        <th>Email</th>
        <th>Invited by</th>
        <% if show_wallet_balance %>
          <th>Wallet balance</th>
        <% end %>
        <% if show_network_bonus %>
          <th>Depth</th>
          <th>Bonus</th>
        <% else %>
          <th colspan="3"></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% members.each do |member| %>
        <tr>
          <td><%= link_to member.member_id, member %></td>
          <td>
            <%= link_to member.fullname, member %>
            <%= content_tag(:span, "REGION ADMIN", class: "label label-success") if member.the_region_admin? %>
          </td>
          <td><%= member.email %></td>
          <td>
            <% if member.upline %>
              <% if current_member.the_admin? || (current_member.the_region_admin? && current_member.region_id == member.upline.region_id) %>
                <%= link_to(member.upline.fullname, member.upline) %>
              <% else %>
                <%= member.upline.fullname %>
              <% end %>
            <% end %>
          </td>
          <% if show_wallet_balance %>
            <td><%= link_to number_with_delimiter(member.wallet_balance, delimiter: ","), wallet_transactions_path(member) %></td>
          <% end %>
          <% if show_network_bonus %>
            <td><%= member.network_depth - upline.network_depth  %></td>
            <td><%= number_with_delimiter upline.get_network_fee_from_descendant(member), delimiter: "," %></td>
          <% else %>
            <td><%= link_to 'Show', member %></td>
            <td><%= link_to 'Edit', edit_member_path(member) %></td>
            <td>
              <% if !member.core_member? && current_member.the_admin? %>
                <%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% else %>
                &nbsp;
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate @members, class: 'pagination', params: {q: params[:q]} %>