<h2><%= @member.fullname.upcase %></h2>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Info</h3>
  </div>
  <div class="panel-body">
    <table class="table table-borderless">
      <tbody>
        <tr>
          <td class="col-sm-1">Member ID</td>
          <td class="col-sm-4"><%= @member.member_id %></td>
          <td class="col-sm-2">Total <%= current_member.the_admin? ? "downlines" : "invited members" %></td>
          <td class="col-sm-4"><%= link_to @member.children.count %></td>
        </tr>
        <tr>
          <td>Email</td>
          <td><%= @member.email %></td>
          <td>Total network</td>
          <td><%= link_to @total_descendants %></td>
        </tr>
        <tr>
          <td>Telephone</td>
          <td><%= @member.telephone %></td>
          <td>Invited by</td>
          <td>
            <% if @member.upline %>
              <% if current_member.the_admin? || (current_member.the_region_admin? && current_member.region_id == @member.upline.region_id) %>
                <%= link_to(@member.upline.fullname, @member.upline) %>
              <% else %>
                <%= @member.upline.fullname %>
              <% end %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>Address</td>
          <td><%= @member.address %></td>
          <td>Wallet balance</td>
          <td>
            <%= link_to number_with_delimiter(@member.wallet_balance, delimiter: ","), current_member.the_admin? ? wallet_transactions_path(@member) : wallet_history_member_path %>
          </td>
        </tr>
        <tr>
          <% if @member.app_marketer? %>
            <td>Joined Date</td>
            <td><%= @member.created_at.strftime("%B %d, %Y") %></td>
          <% else %>
            <td>Package</td>
            <td><%= @member.package.titleize %></td>
          <% end %>
          <td>Total network commisions</td>
          <td>
            <% unless @total_descendants.zero? %>
              <%= link_to number_with_delimiter(@total_network_commisions, delimiter: ","), network_commisions_member_path(@member) %>
            <% else %>
              <%= @total_network_commisions %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>Region</td>
          <td><%= @member.region.name %> <%= content_tag(:span, "REGION ADMIN", class: "label label-success") if @member.the_region_admin? %></td>
          <% if @member.web_dev? %>
            <td>Total web development Commisions</td>
            <td>
              <%= number_with_delimiter @total_web_dev_commisions, delimiter: "," %>
            </td>
          <% elsif @member.the_region_admin? %>
            <td>Member Registration Quota</td>
            <td>
              <%= number_with_delimiter @member.member_registration_quota, delimiter: "," %>
            </td>
          <% end %>
        </tr>
      </tbody>
    </table>

    <% if current_member.the_admin? && current_member.region_id == @member.region_id %>
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Add <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><%= link_to member_label(@member), new_member_path(:upline_id => @member.id, from: member_path(@member)) %></li>
          <li><%= link_to "Transaction", new_transaction_path(:member_id => @member.id, from: member_path(@member)) %></li>
          <li role="separator" class="divider"></li>
          <li><%= link_to "Region Admin", new_member_path(:upline_id => @member.id, region: "new", from: member_path(@member)) %></li>
        </ul>
      </div>
      <button class="btn btn-primary" onClick="location.href='<%= edit_member_path(@member, from: member_path(@member)) %>'; return false;">Edit</button>
    <% elsif current_member.the_region_admin? && current_member.region_id == @member.region_id %>
      <% if current_member.member_registration_quota.zero? %>
        <button class="btn btn-primary" onClick="swal('Can\'t add new member', 'There is no registration quota left\nPlease make deposit to add quota', 'warning'); return false;">Add Member</button>
      <% else %>
        <button class="btn btn-primary" onClick="location.href='<%= new_member_path(:upline_id => @member.id, from: member_path(@member)) %>'; return false;">Add Member</button>
      <% end %>

      <button class="btn btn-primary" onClick="location.href='<%= edit_member_path(@member, from: member_path(@member)) %>'; return false;">Edit</button>
    <% elsif current_member.the_admin? %>
      <button class="btn btn-primary" onClick="location.href='<%= new_transaction_path(:member_id => @member.id, from: member_path(@member)) %>'; return false;">Add Transaction</button>
      <% if @member.the_region_admin? %>
        <button class="btn btn-primary" onClick="location.href='<%= add_registration_quota_member_path(@member.id) %>'; return false;">Add Member Registration Quota</button>
      <% end %>
    <% end %>

    <% if current_member.the_admin? && !@member.core_member? && !@member.the_region_admin? %>
     <button class="btn btn-danger" onClick="location.href='<%= upgrade_member_path(@member) %>'; return false;">Upgrade to Region Admin</button>
    <% end %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Transactions</h3>
  </div>
  <div class="panel-body">
    <% if @transactions.count.zero? %>
      There is no transactions for this member <br/>
    <% else %>
      <%= render partial: "/transactions/list", locals: {transactions: @transactions, show_seller: false, show_actions: false} %>
    <% end %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Referral Transactions</h3>
  </div>
  <div class="panel-body">
    <% if @referral_transactions.count.zero? %>
      There is no referral transactions for this member <br/>
    <% else %>
      <%= render partial: "/transactions/list", locals: {transactions: @referral_transactions, show_seller: false, show_actions: false, show_referral: true} %>
    <% end %>
    Total referral commisions : <b><%= number_with_delimiter @total_referral_commisions, delimiter: "," %></b>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Latest Network Commisions</h3>
  </div>
  <div class="panel-body">
    <% if @member.descendants.count.zero? %>
      There is no network commisions for this member <br/>
    <% else %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="col-sm-2">Member ID</th>
            <th class="col-sm-2">Fullname</th>
            <th class="col-sm-2">Invited by</th>
            <th class="col-sm-2">Depth</th>
            <th class="col-sm-2">Commision</th>
          </tr>
        </thead>

        <tbody>
          <% @network_commisions.each do |commision| %>
            <% commision_from = commision.descendant %>
            <tr>
              <td><%= link_to commision_from.member_id, commision_from %></td>
              <td>
                  <% if current_member.the_admin? || (current_member.the_region_admin? && current_member.region_id == commision_from.region_id) %>
                    <%= link_to(commision_from.fullname, commision_from) %>
                  <% else %>
                    <%= commision_from.fullname %>
                  <% end %>
              </td>
              <td>
                <% if commision_from.upline %>
                  <% if current_member.the_admin? || (current_member.the_region_admin? && current_member.region_id == commision_from.upline.region_id) %>
                    <%= link_to(commision_from.upline.fullname, commision_from.upline) %>
                  <% else %>
                    <%= commision_from.upline.fullname %>
                  <% end %>
                <% end %>
              </td>
              <td><%= commision_from.network_depth - @member.network_depth  %></td>
              <td>
                <%= number_with_delimiter commision.commision, delimiter: "," %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    <% if @show_view_all_network_commisions %>
      <button class="btn btn-default" onClick="location.href='<%= network_commisions_member_path(@member) %>'; return false;">View All</button>
    <% end %>
  </div>
</div>

<% if @member.web_dev? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Latest Web Development Commisions</h3>
    </div>
    <div class="panel-body">
      <% if @latest_members.count.zero? %>
        There is no web development commisions yet<br/>
      <% else %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="col-sm-2">Member ID</th>
              <th class="col-sm-2">Fullname</th>
              <th class="col-sm-2">Invited by</th>
              <th class="col-sm-2">Package</th>
              <th class="col-sm-2">Commision</th>
            </tr>
          </thead>
 
          <tbody>
            <% @latest_members.each do |member| %>
              <tr>
                <td><%= link_to member.member_id, member %></td>
                <td><%= link_to member.fullname, member %></td>
                <td><%= link_to member.upline.fullname, member.upline if member.upline %></td>
                <td><%= member.package.titleize  %></td>
                <td>
                  <%= number_with_delimiter member.web_dev_commision, delimiter: "," %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>

      <% if @show_view_all_network_commisions %>
        <button class="btn btn-default" onClick="location.href='<%= web_development_commisions_member_path(@member) %>'; return false;">View All</button>
      <% end %>
    </div>
  </div>
<% end %>