<h2><%= @member.fullname.upcase %></h2>

<table class="table table-striped">
  <tbody>
    <tr>
      <td class="col-sm-2">Member ID</td>
      <td class="col-sm-3"><%= @member.member_id %></td>
      <td class="col-sm-2">Total downlines</td>
      <td class="col-sm-4"><%= link_to @member.children.count %></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><%= @member.email %></td>
      <td>Total network</td>
      <td><%= link_to @total_descendants %></td>
    </tr>
    <tr>
      <td>Telephone</td>
      <td><%= @member.telephone %></td>
      <td>Upline</td>
      <td><%= link_to @member.upline.fullname, @member.upline if @member.upline %></td>
    </tr>
    <tr>
      <td>Address</td>
      <td><%= @member.address %></td>
      <td>Wallet balance</td>
      <td>
        <%= link_to number_with_delimiter(@member.wallet_balance, delimiter: ","), wallet_transactions_path(@member) %>
      </td>
    </tr>
    <% unless @total_descendants.zero? %>
      <tr>
        <td>Total network commisions</td>
        <td colspan=3>
          <%= number_with_delimiter @total_network_commisions, delimiter: "," %>
        </td>
        <% if false %>
        <td>Total unpaid network commisions</td>
        <td>
          <%= number_with_delimiter @total_unpaid_network_commisions, delimiter: "," %>
          <% unless @total_unpaid_network_commisions.zero? %>
            <button class="btn btn-primary btn-sm" 
                    onClick="location.href='<%= new_network_commision_payment_path(member_id: @member.id) %>'">
              Process Now
            </button>
          <% end %>
        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<button class="btn btn-warning" onClick="location.href='<%= edit_member_path(@member, from: member_path(@member)) %>'; return false;">Edit</button>
<button class="btn btn-warning" onClick="location.href='<%= new_member_path(:upline_id => @member.id, from: member_path(@member)) %>'; return false;">Add Member</button>
<button class="btn btn-warning" onClick="location.href='<%= new_transaction_path(:member_id => @member.id) %>'; return false;">Add Transaction</button>

<h3>Transactions</h3>
<% if @member.transactions.count.zero? %>
  Your transactions is empty <br/>
<% else %>
  <%= render partial: "/transactions/list", locals: {transactions: @member.transactions, show_seller: false, show_actions: false} %>
<% end %>
Total reseller point : <b><%= number_with_delimiter @member.reseller_point, delimiter: "," %></b>

<h3>Network Commisions</h3>

<% if @member.descendants.count.zero? %>
  Your network is empty <br/>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Member ID</th>
        <th>Fullname</th>
        <th>Upline</th>
        <th>Depth</th>
        <th>Commision</th>
      </tr>
    </thead>

    <tbody>
      <% @network_commisions.each do |commision| %>
        <% commision_from = commision.descendant %>
        <tr>
          <td><%= link_to commision_from.member_id, commision_from %></td>
          <td><%= link_to commision_from.fullname, commision_from %></td>
          <td><%= link_to commision_from.upline.fullname, commision_from.upline if commision_from.upline %></td>
          <td><%= commision_from.network_depth - @member.network_depth  %></td>
          <td>
            <%= number_with_delimiter commision.commision, delimiter: "," %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

Total network commisions : <b><%= number_with_delimiter @total_network_commisions , delimiter: "," %></b>
