<p>
  <strong>Member:</strong>
  <%= @member.member_id %>
</p>

<p>
  <strong>Fullname:</strong>
  <%= @member.fullname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>Upline:</strong>
  <%= link_to @member.upline.fullname, @member.upline if @member.upline %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
