<h2><%= @member.fullname.upcase %></h2>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Info</h3>
  </div>
  <div class="panel-body">
    <table class="table table-borderless">
      <tbody>
        <tr>
          <td class="col-sm-1">Member ID</td>
          <td class="col-sm-4"><%= @member.member_id %></td>
          <td class="col-sm-2">Total downlines</td>
          <td class="col-sm-4"><%= link_to @member.children.count %></td>
        </tr>
        <tr>
          <td>Email</td>
          <td><%= @member.email %></td>
          <td>Total network</td>
          <td><%= link_to @total_descendants %></td>
        </tr>
        <tr>
          <td>Telephone</td>
          <td><%= @member.telephone %></td>
          <td>Upline</td>
          <td><%= link_to @member.upline.fullname, @member.upline if @member.upline %></td>
        </tr>
        <tr>
          <td>Address</td>
          <td><%= @member.address %></td>
          <td>Wallet balance</td>
          <td>
            <%= link_to number_with_delimiter(@member.wallet_balance, delimiter: ","), wallet_transactions_path(@member) %>
          </td>
        </tr>
        <tr>
          <td>Package</td>
          <td><%= @member.package.titleize %></td>
          <% unless @total_descendants.zero? %>
            <td>Total network commisions</td>
            <td>
              <%= number_with_delimiter @total_network_commisions, delimiter: "," %>
            </td>
          <% else %>
            <td colspan=2>&nbsp;</td>
          <% end %>
        </tr>
      </tbody>
    </table>

    <button class="btn btn-warning" onClick="location.href='<%= edit_member_path(@member, from: member_path(@member)) %>'; return false;">Edit</button>
    <button class="btn btn-warning" onClick="location.href='<%= new_member_path(:upline_id => @member.id, from: member_path(@member)) %>'; return false;">Add Member</button>
    <button class="btn btn-warning" onClick="location.href='<%= new_transaction_path(:member_id => @member.id) %>'; return false;">Add Transaction</button>

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Transactions</h3>
  </div>
  <div class="panel-body">
    <% if @member.transactions.count.zero? %>
      There is no transactions for this member <br/>
    <% else %>
      <%= render partial: "/transactions/list", locals: {transactions: @member.transactions, show_seller: false, show_actions: false} %>
    <% end %>
    Total reseller point : <b><%= number_with_delimiter @member.reseller_point, delimiter: "," %></b>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Network Commisions</h3>
  </div>
  <div class="panel-body">
    <% if @member.descendants.count.zero? %>
      There is no network commisions for this member <br/>
    <% else %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Member ID</th>
            <th>Fullname</th>
            <th>Upline</th>
            <th>Depth</th>
            <th>Commision</th>
          </tr>
        </thead>

        <tbody>
          <% @network_commisions.each do |commision| %>
            <% commision_from = commision.descendant %>
            <tr>
              <td><%= link_to commision_from.member_id, commision_from %></td>
              <td><%= link_to commision_from.fullname, commision_from %></td>
              <td><%= link_to commision_from.upline.fullname, commision_from.upline if commision_from.upline %></td>
              <td><%= commision_from.network_depth - @member.network_depth  %></td>
              <td>
                <%= number_with_delimiter commision.commision, delimiter: "," %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    Total network commisions : <b><%= number_with_delimiter @total_network_commisions , delimiter: "," %></b>
  </div>
</div>
