<h2><%= @member.fullname.upcase %></h2>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Info</h3>
  </div>
  <div class="panel-body">
    <table class="table table-borderless">
      <tbody>
        <tr>
          <td class="col-sm-1">Member ID</td>
          <td class="col-sm-4"><%= @member.member_id %></td>
          <td class="col-sm-2">Total downlines</td>
          <td class="col-sm-4"><%= link_to @member.children.count %></td>
        </tr>
        <tr>
          <td>Email</td>
          <td><%= @member.email %></td>
          <td>Total network</td>
          <td><%= link_to @total_descendants %></td>
        </tr>
        <tr>
          <td>Telephone</td>
          <td><%= @member.telephone %></td>
          <td>Upline</td>
          <td><%= link_to @member.upline.fullname, @member.upline if @member.upline %></td>
        </tr>
        <tr>
          <td>Address</td>
          <td><%= @member.address %></td>
          <td>Wallet balance</td>
          <td>
            <%= link_to number_with_delimiter(@member.wallet_balance, delimiter: ","), wallet_transactions_path(@member) %>
          </td>
        </tr>
        <tr>
          <td>Package</td>
          <td><%= @member.package.titleize %></td>
          <% unless @total_descendants.zero? %>
            <td>Total network commisions</td>
            <td>
              <%= number_with_delimiter @total_network_commisions, delimiter: "," %>
            </td>
          <% else %>
            <td colspan=2>&nbsp;</td>
          <% end %>
        </tr>
        <% if @member.web_dev? %>
          <tr>
            <td colspan=2>&nbsp;</td>
            <td>Total web development Commisions</td>
            <td>
              <%= number_with_delimiter @total_web_dev_commisions, delimiter: "," %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <button class="btn btn-warning" onClick="location.href='<%= edit_member_path(@member, from: member_path(@member)) %>'; return false;">Edit</button>
    <button class="btn btn-warning" onClick="location.href='<%= new_member_path(:upline_id => @member.id, from: member_path(@member)) %>'; return false;">Add Member</button>
    <button class="btn btn-warning" onClick="location.href='<%= new_transaction_path(:member_id => @member.id, from: member_path(@member)) %>'; return false;">Add Transaction</button>

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Transactions</h3>
  </div>
  <div class="panel-body">
    <% if @transactions.count.zero? %>
      There is no transactions for this member <br/>
    <% else %>
      <%= render partial: "/transactions/list", locals: {transactions: @transactions, show_seller: false, show_actions: false} %>
    <% end %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Referral Transactions</h3>
  </div>
  <div class="panel-body">
    <% if @referral_transactions.count.zero? %>
      There is no referral transactions for this member <br/>
    <% else %>
      <%= render partial: "/transactions/list", locals: {transactions: @referral_transactions, show_seller: false, show_actions: false, show_referral: true} %>
    <% end %>
    Total referral commisions : <b><%= number_with_delimiter @total_referral_commisions, delimiter: "," %></b>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Latest Network Commisions</h3>
  </div>
  <div class="panel-body">
    <% if @member.descendants.count.zero? %>
      There is no network commisions for this member <br/>
    <% else %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="col-sm-2">Member ID</th>
            <th class="col-sm-2">Fullname</th>
            <th class="col-sm-2">Upline</th>
            <th class="col-sm-2">Depth</th>
            <th class="col-sm-2">Commision</th>
          </tr>
        </thead>

        <tbody>
          <% @network_commisions.each do |commision| %>
            <% commision_from = commision.descendant %>
            <tr>
              <td><%= link_to commision_from.member_id, commision_from %></td>
              <td><%= link_to commision_from.fullname, commision_from %></td>
              <td><%= link_to commision_from.upline.fullname, commision_from.upline if commision_from.upline %></td>
              <td><%= commision_from.network_depth - @member.network_depth  %></td>
              <td>
                <%= number_with_delimiter commision.commision, delimiter: "," %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    <% if @show_view_all_network_commisions %>
      <button class="btn btn-default" onClick="location.href='<%= network_commisions_member_path(@member) %>'; return false;">View All</button>
    <% end %>
  </div>
</div>

<% if @member.web_dev? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Latest Web Development Commisions</h3>
    </div>
    <div class="panel-body">
      <% if @latest_members.count.zero? %>
        There is no web development commisions yet<br/>
      <% else %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="col-sm-2">Member ID</th>
              <th class="col-sm-2" >Fullname</th>
              <th class="col-sm-2">Upline</th>
              <th class="col-sm-2">Package</th>
              <th class="col-sm-2">Commision</th>
            </tr>
          </thead>
 
          <tbody>
            <% @latest_members.each do |member| %>
              <tr>
                <td><%= link_to member.member_id, member %></td>
                <td><%= link_to member.fullname, member %></td>
                <td><%= link_to member.upline.fullname, member.upline if member.upline %></td>
                <td><%= member.package.titleize  %></td>
                <td>
                  <%= number_with_delimiter member.web_dev_commision, delimiter: "," %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>

      <% if @show_view_all_network_commisions %>
        <button class="btn btn-default" onClick="location.href='<%= web_development_commisions_member_path(@member) %>'; return false;">View All</button>
      <% end %>
    </div>
  </div>
<% end %>

