<h2>Web Development Commisions</h2>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Info</h3>
  </div>
  <div class="panel-body">
    <table class="table table-borderless">
      <tbody>
        <tr>
          <td class="col-sm-2">Web Developer</td>
          <td class="col-sm-4"><%= link_to @member.fullname, @member %></td>
        </tr>
        <tr>
          <td>Total web development commisions</td>
          <td>
            <%= number_with_delimiter @total_web_dev_commisions, delimiter: "," %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">All Web Development Commisions</h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="col-sm-2">Member ID</th>
          <th class="col-sm-2">Fullname</th>
          <th class="col-sm-2">Upline</th>
          <th class="col-sm-2">Package</th>
          <th class="col-sm-2">Commision</th>
        </tr>
      </thead>
 
      <tbody>
        <% @latest_members.each do |member| %>
          <tr>
            <td><%= link_to member.member_id, member %></td>
            <td><%= link_to member.fullname, member %></td>
            <td><%= link_to member.upline.fullname, member.upline if member.upline %></td>
            <td><%= member.package.titleize  %></td>
            <td>
              <%= number_with_delimiter member.web_dev_commision, delimiter: "," %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= will_paginate @latest_members, class: 'pagination' %>
  </div>
</div>
